body {

    background: #111;
    color: white;

    font-family: Roboto;

    margin: 0;
    padding: 1%;

    overflow: hidden;
}

/* HORLOGE */

#time {

    position: absolute;

    top: 1%;
    left: 1%;

    font-size: 100%;
}

/* CARD MÉTÉO */

#weatherCard {

    position: absolute;

    top: 1vh;
    right: 1vw;

    width: 25vw;
    height: 45vh;

    font-size: 50%;
}

/* CARD CALENDRIER */

#calendarCard {

    position: absolute;

    bottom: 10vh;
    right: 1vw;

    width: 25vw;
    height: 35vh;

    font-size: 50%;
}

/* STYLE COMMUN */

.card {

    background: rgba(255,255,255,0.08);

    border-radius: 1%;

    padding: 1%;

    backdrop-filter: blur(10px);
}