html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    color: white;
    font-family: Roboto;
}

#dashboard {
    width: 1920px;
    height: 1080px;
    position: relative;
}

/* HORLOGE */

#time {

    position: absolute;

    top: 4%;
    left: 2%;

    font-size: 200%;
}

/* CARD MÉTÉO */

#weatherCard {

    position: absolute;

    top: 2%;
    right: 2%;

    width: 25%;
    height: 46%;

    font-size: 110%;
}

/* CARD CALENDRIER */

#calendarCard {

    position: absolute;

    bottom: 2%;
    right: 2%;

    width: 25%;
    height: 41%;

    font-size: 100%;
}

/* STYLE COMMUN */

.card {

    background: rgba(255,255,255,0.08);

    border-radius: 1%;

    padding: 1%;

    backdrop-filter: blur(10px);
}

#carousel-container {
    position: absolute;
    bottom: 2%;
    left: 2%;
    width: 1280px;
    height: 720px;
    overflow: hidden;
    border-radius: 15px;
}

#photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: black;
}