body {

    background: #111;
    color: white;

    font-family: Roboto;

    margin: 0;
    padding: 1%;

    overflow: hidden;
}

/* HORLOGE */

#time {

    position: absolute;

    top: 1%;
    left: 1%;

    font-size: 100%;
}

/* CARD MÉTÉO */

#weatherCard {

    position: absolute;

    top: 1vh;
    right: 1vw;

    width: 25vw;
    height: 45vh;

    font-size: 50%;
}

/* CARD CALENDRIER */

#calendarCard {

    position: absolute;

    bottom: 10vh;
    right: 1vw;

    width: 25vw;
    height: 35vh;

    font-size: 50%;
}

/* STYLE COMMUN */

.card {

    background: rgba(255,255,255,0.08);

    border-radius: 1%;

    padding: 1%;

    backdrop-filter: blur(10px);
}

img {
    width:500px ;
    height:332px
}

#carousel-container {
	width: 500px;
	height: 332px;
	position: relative;
	margin: 50px auto 0;
  border: 10px solid #ffffff;
  border-radius: 10px;
}

#carousel-container > div:first-child {
	overflow: hidden;
	max-width: 100%;
	margin: 0;
}

#carousel {
	position: relative;
	width: 500px;
	height: 332px;
  padding: 0;
  margin: 0;
}

.animate{
	-webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

.slide {
  list-style: none;
	position: relative;
	float: left;
	transform: translateX(-500px)
}

#controls{
	position: absolute;
  width: 620px;
	top: calc( 50% - 25px);
	margin: 0 -60px;
}

#controls span {
	width: 50px;
	cursor: pointer;
	opacity: 0.4;
}

#controls span:hover {
	opacity: 1;
}

#prev {
	float: left;
}

#next {
	float: right;
}